.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 70%;
}

.form__field {
  font-family: 'Royal-Script', serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--main-text);
  outline: 0;
  font-size: 1.3rem;
  color: var(--main-text);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0rem;
  color: var(--dim-text);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0s;
    font-size: 0rem;
    color: transparent;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 0;
  border-width: 3px;
  border-image-slice: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}