.bookman {
    font-family: 'Bookman-Type', serif !important;
}

.babylon {
    font-family: 'Babylon-Script', serif !important;
}

.century {
    font-family: 'Century-Block', serif !important;
}

.dorsian {
    font-family: 'Dorsian-Sea', serif !important;
}

.esoteric {
    font-family: 'Esoteric-Antiqua', serif !important;
}

.pale {
    font-family: 'Pale-Nimbus', serif !important;
}

.port {
    font-family: 'Port-Carruthers', serif !important;
}

.romalian {
    font-family: 'Romalian-Type', serif !important;
}

.royal {
    font-family: 'Royal-Script', serif !important;
}

.silian {
    font-family: 'Silian-Rail', serif !important;
    font-size: 1.3rem !important;
}
